<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title text-center>Nurmya
      <ion-icon name="heart" color="secondary"></ion-icon>Justin</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-segment [(ngModel)]="viewtype" color="primary">
    <ion-segment-button value="gallery">
      Gallerij
    </ion-segment-button>
    <ion-segment-button value="thumbnails">
      Pictogrammen
    </ion-segment-button>
  </ion-segment>

  <ion-card margin-top *ngFor="let photo of photos" no-margin margin-bottom [hidden]="viewtype !== 'gallery'" (click)="openModal({photoID: photo.id })">
    <img src="{{photo.url}}" />
    <div class="card-title">{{photo.title}}</div>
  </ion-card>

  <ion-grid no-padding no-margin margin-top [hidden]="viewtype !== 'thumbnails'">
    <ion-row *ngFor="let row of grid">
      <ion-col width-50 *ngFor="let photo of row" (click)="openModal({photoID: photo.id })">
        <img src="{{photo.url}}" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab bottom center>
    <button ion-fab color="secondary" (click)="takePicture()"><ion-icon name="camera"></ion-icon></button>
  </ion-fab>

</ion-content>
